@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.fira-sans-condensed-regular {
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
}
*, *::before, *::after {box-sizing: border-box;} 
* {margin: 0;font-family: Fira Sans Condensed;}
body {background-color: #121212;color: #fff;height: 100vh;}
input[type="submit"], button {border: none;}

select {line-height: 2rem;height: 2rem;border-radius: 5px;border: none;}

.btn-submit, .btn-delete, .btn-edit {line-height: 2rem;padding: 0 10px;color: #fff;cursor: pointer;border-radius: 5px;font-size: .8rem;}
.btn-delete {background: #CB0404;}
.btn-edit {background: #F4631E;}
.btn-submit {background: #12971f;}
.pokemon-card .btn-delete {position: absolute;top: 7px;right: 15px;background: none;color: #000;font-size: 20px;font-weight: 400;line-height: normal;padding: 0;}


.container {width: 80%;margin: 0 auto;text-align: center;padding-top: 2rem;}
.title {font-size: 3rem;margin-bottom: 2rem;font-weight: 600;}
.buttons {margin-bottom: 4rem;}
.pokemon-container {display: flex;flex-wrap: wrap;gap: 1%;margin-top: 20px;}
.pokemon-card {border: 1px solid #ccc;border-radius: 20px;padding-top: 1.2rem;width: 15.8%;text-align: center;background-color: #f8f8f8;color: #000;position: relative;}
.pokemon-card h2 {font-size: 1.5rem;margin-bottom: .5rem;font-weight: 600;}
.pokemon-card img {width: 120px;height: 120px;}
.pokemon-ability {margin-top: .7rem;text-align: left;padding: 0 15px;}
.pokemon-ability h3 {font-size: 1.1rem;margin-bottom: .2rem;}

.type {display: inline-block;color: #fff;text-shadow: 1px 1px 2px rgba(0,0,0,.7);width: 66px;line-height: 1.7;border-radius: 4px;border: 1px solid;}
.type-normal {background-color: #aa9}
.type-fire {background-color: #f42}
.type-water {background-color: #39f}
.type-electric {background-color: #fc3}
.type-grass {background-color: #7c5}
.type-ice {background-color: #6cf}
.type-fighting {background-color: #b54}
.type-poison {background-color: #a59}
.type-ground {background-color: #db5}
.type-flying {background-color: #89f}
.type-psychic {background-color: #f59}
.type-bug {background-color: #ab2}
.type-rock {background-color: #ba6}
.type-ghost {background-color: #66b}
.type-dragon {background-color: #76e}
.type-dark {background-color: #754}
.type-steel {background-color: #aab}
.type-fairy {background-color: #e9e}

@media screen and (max-width: 1400px) {
  .pokemon-container {gap: 2.3%;}
  .pokemon-card {width: 31.8%;margin-bottom: 2%;}
}

@media screen and (max-width: 1000px) {
  .container {width: 90%;}
  .pokemon-card {width: 48.3%;margin-bottom: 2%;}
}